<h1>WELCOME TO CSE MOTORS!</h1>

<div class="hero">   

 
   <div id="delorean-hero" class="hero-text">
    <h1> DMC Delorean</h1>
    <p>3 Cup holders Superman doors Fuzzy dice!</p>
    <img src="images/site/own_today.png" alt="own_today" >
   </div>

   <div> 
    <img  id="delorean" src="images/vehicles/delorean-tn.jpg" alt="delorean">
</div>
</div>



<section>
    <div class="container">

        <div>
            <h2>Delorean Upgrades</h2>
        <div class="vehicle-details">
           
            <div>
               
                <img src="images/upgrades/flux-cap.png" alt="">
                <p><a href="">Flux Capacitor</a></p>
            </div>
            <div>
                <img src="images/upgrades/flame.jpg" alt="">
                <p><a href="">Flame Decals</a></p>
            </div>
            <div>
                <img src="images/upgrades/bumper_sticker.jpg" alt="">
              <p>  <a href=""> Bumber stickers</a></p>
            </div>
            <div>
                <img src="images/upgrades/hub-cap.jpg" alt="">
            <p>   <a href="">Hub Caps</a></p>
            </div>
        </div>
        </div>
        <div  class="reviews-container">
            <h2>DMC Delorean Reviews</h2>
            <ul class="reviews">
                <li>"So fast it is almost like travelling in time."(4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling Mcfly"(5/5)</li>
                <li>"The most futuristic ride of our day. (4.5/5)"</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
    
        </div>
            
        </div>
    
    
</section>

