<h1>Inventory Management</h1>

<% if (message) { %>
  <p class="flash"><%= message %></p>
<% } %>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>


